body{
    background: #0c002b;
}
a{
    position: absolute;
    top: 20%;
    left: 30%;
    text-decoration: none;
    color: #1670f0;
    text-transform: uppercase;
    padding: 16px 32px;
    font-size: 30px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 1);
    overflow: hidden;
}
a span:nth-child(1){
    height: 2px;
    width: 100%;
    background-image: linear-gradient(to right, #0c002b, #1670f0);
    position: absolute;
    top: 0%;
    left: 0%;
    animation: animate1 2s linear infinite;
    animation-delay: 0s;
}
@keyframes animate1{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}
a span:nth-child(2){
    height: 100%;
    width: 2px;
    background-image: linear-gradient(to bottom, #0c002b, #1670f0);
    position: absolute;
    right: 0%;
    top: 0%;
    animation: animate2 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animate2{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}
a span:nth-child(3){
    height: 2px;
    width: 100%;
    background-image: linear-gradient(to left, #0c002b, #1670f0);
    position: absolute;
    bottom: 0%;
    left: 0%;
    animation: animate3 2s linear infinite;
}
@keyframes animate3{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
a span:nth-child(4){
    height: 100%;
    width: 2px;
    background-image: linear-gradient(to top, #0c002b, #1670f0);
    position: absolute;
    top: 0%;
    left: 0%;
    animation: animate4 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animate4{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}